# Standard Gitignore for Flutter & Web project
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/

# App/Web local configurations
node_modules/
dist/
.env
.env.*
